extends layout

block content
	ul#event-data
		li Title: #{event.title}
		li Location: #{event.location}
		li#start-datetime
		li Description: #{event.description}

	h2 Event Creator
	table#table-event-creator
			thead
				tr
					td Username
					td Email
					td Profile
			tbody
				tr
					td #{creator.facebook.name}
					if creator.local.email
						td #{creator.local.email}
					else
						td #{creator.facebook.email}
					td
						a(href='/u/' + creator._id) Profile

	h2 Event Attendees
	table#table-event-attendees
			thead
				tr
					td Username
					td Email
					td Profile
			tbody
				for u, i in attendees
					tr
						td #{u.facebook.name}
						if u.local.email
							td #{u.local.email}
						else
							td #{u.facebook.email}
						td
							a(href='/u/' + u._id) Profile

	script(src='/javascripts/eventprofile.js')
	script(type='text/javascript').
		var e = !{JSON.stringify(event)}